# Dependencies
node_modules/
package-lock.json
yarn.lock

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.production
