@font-face {
    font-family: 'montserrat';
    src: url('Montserrat.ttf') format('ttf');
  }
  
body {
    font-family: 'montserrat';
    padding-top: 65px;
}
.bg-gambar {
    background-image: url('bggede.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
  }

  .about-me {
    width:100%;
    padding-top: 25px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: translatex(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .about-me.show {
    opacity: 1;
    transform: translatex(0);
  }

  .about-me.show h3,.about-me.show ul li {
    opacity: 0;
    animation: slide-up-h3 1s ease forwards 0.75s;
  }

  .about-me.show p {
    opacity: 0;
    animation: slide-up-p 1s ease forwards 1s;
  }

  @keyframes slide-up-h3 {
    0% {
      opacity: 0;
      transform: translateX(-75px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-up-p {
    0% {
      opacity: 0;
      transform: translateX(-75px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* bagian skill */
  .skill {
    width:100%;
    padding-top: 25px;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: translatex(50px);
    transition: opacity 0.5s, transform 0.75s;
  }

  .skill.show {
    opacity: 1;
    transform: translatex(0);
  }

  .skill.show div#backend,.skill.show div#video,.skill.show div#desain {
    opacity: 0;
    animation: slide-right-p 1s ease forwards 1.0s;
  }
  .skill.show div#office,.skill.show div#frontend,.skill.show div#foto {
    opacity: 0;
    animation: slide-right-h3 1s ease forwards 0.5s;
  }

  @keyframes slide-right-h3 {
    0% {
      opacity: 0;
      transform: translateX(75px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-right-p {
    0% {
      opacity: 0;
      transform: translateX(-75px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* skill bar */
  .skill-card {
    max-width: 600px;
    margin: 5px auto;
  }

  .skill-title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .skill-desc {
    font-size: 11px;
    margin-bottom: 5px;
  }
