@font-face {
    font-family: 'montserrat';
    src: url('Montserrat.ttf') format('ttf');
  }
  
body {
    font-family: 'montserrat';
    padding-top: 65px;
}
.bg-gambar {
    background-image: url('bggede.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
  }

  .about-me {
    width:100%;
    padding-top: 25px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: translatex(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .about-me.show {
    opacity: 1;
    transform: translatex(0);
  }

  .about-me.show h3,.about-me.show ul li {
    opacity: 0;
    animation: slide-up-h3 1s ease forwards 0.75s;
  }

  .about-me.show p {
    opacity: 0;
    animation: slide-up-p 1s ease forwards 1s;
  }

  @keyframes slide-up-h3 {
    0% {
      opacity: 0;
      transform: translateX(-75px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-up-p {
    0% {
      opacity: 0;
      transform: translateX(-75px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* bagian skill */
  .skill {
    width:100%;
    padding-top: 25px;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: translatex(50px);
    transition: opacity 0.5s, transform 0.75s;
  }

  .skill.show {
    opacity: 1;
    transform: translatex(0);
  }

  .skill.show div#backend,.skill.show div#video,.skill.show div#desain {
    opacity: 0;
    animation: slide-right-p 1s ease forwards 1.0s;
  }
  .skill.show div#office,.skill.show div#frontend,.skill.show div#foto {
    opacity: 0;
    animation: slide-right-h3 1s ease forwards 0.5s;
  }

  @keyframes slide-right-h3 {
    0% {
      opacity: 0;
      transform: translateX(75px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-right-p {
    0% {
      opacity: 0;
      transform: translateX(-75px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* skill bar */
  .skill-card {
    max-width: 600px;
    margin: 5px auto;
  }

  .skill-title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .skill-desc {
    font-size: 11px;
    margin-bottom: 5px;
  }
/* 
Bagian portofolio */
.filter-bg {
  display: flex;
  justify-content: center;                                                                                                                                                                                        
}

.filter-btn {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  background-color:  #148dbd;
  color: #fff;
  border: none;

  cursor: pointer;
  transition: transform 0.75s;
}

.filter-btn:hover {
  background-color:  #07658a;
  transform: scale(110%);
  transition: ease-in-out 0.5s;
}

.filter-btn.active {
  background-color:  #034f6d;
  transform: scale(100%);
}

.portfolio-card {
  position: relative;
}

.portfolio-image {
  width: 100%;
  height: 175px;
}

.portfolio-description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.portfolio-card:hover .portfolio-description {
  opacity: 1;
}

.modal img{
  height: auto;
  width: auto;
}

/* bagian portfolio */
  .portfolio {
    width:100%;
    padding-top: 25px;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: translatey(50px);
    transition: opacity 0.5s, transform 0.75s;
  }

  .portfolio.show {
    opacity: 1;
    transform: translatey(0);
  }

  .portfolio.show div#p2,.portfolio.show div#p6,.portfolio.show div#p10{
    opacity: 0;
    animation: slide-right-1 1s ease-in-out forwards 0.3s;
  }

  .portfolio.show div#p1,.portfolio.show div#p5,.portfolio.show div#p9,.portfolio.show div#w1 {
    opacity: 0;
    animation: slide-right-2 1s ease forwards 1.0s;
  }

  .portfolio.show div#p3,.portfolio.show div#p7,.portfolio.show div#p11 {
    opacity: 0;
    animation: slide-left-1 1s ease forwards 0.5s;
  }

  .portfolio.show div#p4,.portfolio.show div#p8,.portfolio.show div#p12,.portfolio.show div#w2 {
    opacity: 0;
    animation: slide-left-2 1s ease forwards 1.0s;
  }


  @keyframes slide-right-1{
    0% {
      opacity: 0;
      transform: translateX(-75px);
    }
    100% {
      opacity: 1;
      transform: translatex(0);
    }
  }

  @keyframes slide-left-1 {
    0% {
      opacity: 0;
      transform: translatex(75px);
    }
    100% {
      opacity: 1;
      transform: translatex(0);
    }
  }

  @keyframes slide-right-2 {
    0% {
      opacity: 0;
      transform: translatex(-75px);
    }
    100% {
      opacity: 1;
      transform: translatex(0);
    }
  }

  @keyframes slide-left-2 {
    0% {
      opacity: 0;
      transform: translatex(75px);
    }
    100% {
      opacity: 1;
      transform: translatex(0);
    }
  }